/*
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Rouge Script', cursive;
font-family: 'Sacramento', cursive;
*/
@font-face {
    font-family: 'astroregular';
    src: url('../css/fonts/astro-webfont.woff2') format('woff2'),
         url('../css/fonts/astro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
}

/*-----TOP-----*/
.top {
  padding-top: 100px;
  /*background-color: #e3fdfd;*/
  background-color: #ecf4f3;

}
.top h1 {
  font-size: 5.6rem; /* 1em=16px=100% */
  color: #006a71;
  margin: 0;
  /*font-family: 'Sacramento', cursive;*/
  font-family: 'Fredericka the Great', cursive;
  font-weight: lighter;
  /*font-family: 'Nanum Pen Script', cursive;*/
}
.top h2{
  color: #006a71;
  /*font-family: 'Nanum Pen Script', cursive;*/
  font-family: 'Fredericka the Great', cursive;
  font-weight: lighter;
}
.bio {
  text-decoration: underline;
}

.bottom-cloud{
  position: absolute;
  /*top: 200px*/
  left: 35%;
}

.top-cloud{
  position: absolute;
  top: 20px;
  right: 35%;
}
.top-img{
  width: 10%;
  margin: 50px;
}

/*-----BODY-----*/

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #68b0ab;
}

h3{
  margin: 0;
  /*font-family: 'Montserrat', sans-serif;*/
  font-size: 1.3rem;
  color: #035054;
  font-family: 'Quicksand', sans-serif;

}
p{
  color: #222831;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 1rem;
}

hr {
  margin: 0  auto 50px auto;
  border-style: none;
  border-top-style: dotted;
  border-color: #006a71;
  border-width: 5px;
  width: 5%;
}

a {
  text-decoration: none;
  color: #cc6452;
}
a:hover {
  text-decoration: none;
  color: #a14e40;
}

.middle-container{
  /*background-color: red;*/
  background-color: #ecf4f3;

}


.aboutme{
  width: 70%;
  margin: auto auto 50px auto;
  text-align: left;
  line-height: 2;
}

/*-----SECTION-----*/
.section{
  width: 70%;
  margin: auto auto 50px auto;
  text-align: left;
  line-height: 2;
}
/*-----LEFT-----*/
.left-aligned-img{
  width: 25%;
  /*margin-left: 75%;*/
  float: left;
  margin-right: 30px;

}
.right-aligned-txt{
  padding-left: 30%;
}

/*-----RIGHT-----*/
.right-aligned-img{
  width: 25%;
  /*margin-right: 75%;*/
  float: right;
  margin-left: 30px;

}
.left-aligned-txt{
  padding-right: 30%;
}

.contact-txt{
  text-align: center;
  width: 40%;
  margin: auto;
  line-height: 2;
}

.btn {
	background-color:#006a71;
	border-radius:28px;
	border:1px solid #035054;
	display:inline-block;
	cursor:pointer;
	color:#ecf4f3;
	font-family: 'Montserrat', sans-serif;
	font-size:17px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #035054;
  margin: 30px;
}
.btn:hover {
  color:#035054;
	background-color:#ecf4f3;
  border:1px solid #035054;
  text-shadow:0px 1px 0px #035054;
}
.btn:active {
	position:relative;
	top:1px;
}


.bottom-container{
  /*background-color: yellow;*/
  background-color: #68b0ab;
  font-family: 'Fredericka the Great', cursive;
  padding: 50px 0 20px;
}

.footer-link{
  margin: 20px;
}
.bottom-container a{
  color: #035054;
  text-decoration: none;
}

.bottom-container a:hover{
  color: #ecf4f3;
  text-decoration: none;
}

.copyrght{
  color: #ecf4f3;
  font-size: 0.75rem;
}
